<h1>Users</h1>
<%- partial('../messages') %>
<div style="float: left; width: 60%;">
	<table class="tabular">
		<tr>
			<th>Name</th>
			<th>Email</th>
		</tr>
		<% users.forEach(function(user){ %>
		<tr>
			<td><a href="/user/<%= user.id %>"><%= user.name %></a></td>
			<td><%= user.email %></td>
		</tr>
		<% }) %>
		<tfoot>
			<tr>
				<td colspan='2'><%- pagerHtml %></td>
			</tr>
		</tfoot>
	</table>
</div>
<div style="float: left; margin-left: 5%; width: 35%;">
	<form method="post" action="/users">
		<input type="hidden" name="_method" value="post" />
		<p>
			Name: <input type="text" name="user[name]" />
		</p>
		<p>
			Email: <input type="text" name="user[email]" />
		</p>
		<p>
			<button class="button-submit" type="submit" value="Create">Create</button>
			<a class="button-submit" href="/users/load" value="Load">Load Sample Data</a>
		</p>
	</form>
</div>
